.what {

  padding: 100px 0;

  @media (max-width: $breakpoint768) {
    padding: 50px 0;
  }

  // .what__inner

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    @media (max-width: $breakpoint992) {
      flex-direction: column-reverse;
      justify-content: flex-start;
    }
  }

  // .what__img

  &__img {
    flex: 0 1 580px;
    max-width: 580px;

    @media (max-width: $breakpoint1450) {
      flex: 0 1 450px;
      max-width: 450px;
    }

    @media (max-width: $breakpoint992) {
      flex: 0 1 100%;
      max-width: 100%;
    }
  }

  // .what__info

  &__info {
    flex: 0 1 640px;
    display: flex;
    flex-direction: column;

    @media (max-width: $breakpoint992) {
      flex: 0 1 100%;
    }
  }

  // .what__title

  &__title {
    margin-bottom: 25px;
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 52px;
    line-height: 60px;
    color: var(--white-color);

    span {
      color: var(--red-color);
    }

    @media (max-width: $breakpoint480) {
      font-size: 34px;
      line-height: 40px;
    }
  }

  // .what__descr

  &__descr {
    margin-bottom: 40px;
    font-size: 19px;
    line-height: 24px;

    @media (max-width: $breakpoint480) {
      font-size: 18px;
      line-height: 22px;
    }
  }

  // .what__list

  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  // .what__item

  &__item {
    display: flex;
    gap: 32px;

    @media (max-width: $breakpoint480) {
      gap: 15px;
    }
  }

  // .what__item-icon

  &__item-icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 110px;
    width: 110px;
    height: 110px;
    background: linear-gradient(#1C121F, #1C121F) padding-box,
      linear-gradient(152.14deg, rgba(250, 0, 75, 0.7) 9.96%, rgba(215, 0, 250, 0.7) 100%) border-box;
    border-radius: 16px;
    border: 2px solid transparent;
    z-index: 2;

    @media (max-width: $breakpoint480) {
      min-width: 80px;
      width: 80px;
      height: auto;

      svg {
        width: 30px;
      }
    }

  }

  // .what__item-info

  &__item-info {
    max-width: 309px;

    @media (max-width: $breakpoint992) {
      max-width: 100%;
    }
  }

  // .what__item-title

  &__item-title {
    margin-bottom: 8px;
    font-family: var(--secondary-font);
    font-size: 25px;
    line-height: 120%;

    @media (max-width: $breakpoint480) {
      font-size: 20px;
    }
  }

  // .what__item-descr

  &__item-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #A5ADCF;

    @media (max-width: $breakpoint480) {
      font-size: 14px;
      line-height: 22px;
    }
  }
}